[buildout]
develop = .
versions = versions
package-name = z3c.namedfile
package-extras = [test]
test-eggs =

parts =
    code-analysis
    test


[code-analysis]
recipe = plone.recipe.codeanalysis
clean-lines = True
debug-statements = True
deprecated-aliases = True
directory = ${buildout:directory}/src/z3c/namedfile
flake8 = True
flake8-ignore = E501
flake8-max-complexity = 12
pep3101 = True
pre-commit-hook = False
prefer-single-quotes = True
return-status-codes = True
utf8-header = True


[test]
recipe = zc.recipe.testrunner
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']
eggs =
    ${buildout:package-name} ${buildout:package-extras}
    ${buildout:test-eggs}


[versions]
