[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "==40.0.0"
"zc.buildout" = "==2.12.1"
ipdb = "*"

[dev-packages]

[requires]
python_version = "2.7"
